extends layout

block content
  h1 Public Page
  p Welcome to Public page
  hr
  a(href='private') this is private page. You can try to open it.
  hr
  a(href='login') Login
  hr
  a(href='register') Register
  hr
  include parts/file_list