h4 Login to your account
form(action='/login' method='post')
  fieldset
    label(for='username') Email
    input(type='username' name='username' placeholder='Your Email')
    label(for='password') Password
    input(type='password' name='password' placeholder='Your Password')
    button(type='Login') Login
